@model IEnumerable<MenuItem>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.Count() > 0)
{
    <div class="col-12 post @Model.FirstOrDefault().Category.Name.Replace(" ",string.Empty) menu-restaurant">
        <div class="row">
            <h3 class="text-success"> @Model.FirstOrDefault().Category.Name </h3>
        </div>

        @foreach(var item in Model)
        {
    <div class="card w-20 mt-5 mx-auto">
        <div class="card-header text-center" style="background-color:rgba(237, 164, 13, 0.46);">
            <label class="text" style="font-size:24px;color:black">@item.Name</label>

        </div>
        <div class="card-body">
            <img src="@item.Image" width="100%" style="border-radius:2%;border:1px solid black" />
            <div class="col-12 text-center" style="color:black">
                <br />
                <h4>@item.Price<small class="text-muted">/zł</small></h4>
            </div>
            <div class="row col-12 text-justify d-none d-md-block" style="margin-left:5px;">
                <p>@Html.Raw(item.Description)</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a asp-action="Details" class="btn btn-outline-warning form-control" asp-route-id="@item.Id">Szczegóły</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
        <div class="p-4"></div>
    </div>
}